extends layout

block content
    div.row
        div#gameContent.col-md-6
            div#findGameContent
                div.panel.panel-info
                    div.panel-heading
                        h3.panel-title games list
                            span#gamesCountLbl.badge.right(title='active games', data-toggle='tooltip') 1
                    div#noGamesLbl.panel-body(style='display:none') no active games :(
                    ul#gameBoardLines.list-group
                button#createGameBtn.btn.btn-warning
                    span.glyphicon.glyphicon-chevron-right
                    |&nbsp;create new game
            div#gameAreaContent(style='display:none')
                table#gameTitleTable
                    tr
                        td Artem
                        td Vs
                        td Petro
                    tr
                        td.cup 33
                        td
                        td.cup 12
                div#gameFieldLbl.tic-tac-toe
                    label.left.top
                    label.middle.top.cross
                    label.right.top.zero
                    label.left.center.cross.checked
                    label.middle.center.zero.checked
                    label.right.center
                    label.left.bottom
                    label.middle.bottom
                    label.right.bottom
                    button#leaveGameBtn.btn.btn-info
                        span.glyphicon.glyphicon-chevron-left
                        |leave game
        div#chatContent.col-md-6
            div.panel.panel-info
                div.panel-heading
                    h3.panel-title chat room
                        span#usersOnlineCountLbl.badge.right(title='users online', data-toggle='tooltip') 1
                div#messageContainer.panel-body
                    div#messagesLbl
                div.panel-footer
                    div.input-group
                        input#messageTxt.form-control(type="text", placeholder="enter message", maxlength=300)
                        span.input-group-btn
                            button#addMessageBtn.btn.btn-info send




        //h2#nameLabel
    //
    //
    //input#moveXText(type=text)
    //input#moveYText(type=text)
    //button#moveBtn move
    //<br>
    //div#boardLabel
    //<br>
    //div#movesLabel
