extends layout

block content

    //h2#nameLabel
    //
    //
    //input#moveXText(type=text)
    //input#moveYText(type=text)
    //button#moveBtn move
    //<br>
    //div#boardLabel
    //<br>
    //div#movesLabel

    div#messagesLbl
    input#messageTxt(type=text, class='form-control')
    button#addMessageBtn(class='btn btn-default') add message


    div#gameBoardLbl
        div#noGamesLbl no games :(
    button#createGameBtn(class='btn btn-primary') create game

    div#gameFieldLbl board will be here
    button#leaveGameBtn(class='btn', style='display:none') leave game

    script(src='javascripts/index.js')