doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    body
        script(src='javascripts/libs/jquery.min.js')
        script(src='javascripts/libs/bootstrap.min.js')
        script(src='javascripts/libs/socket.io-1.3.2.min.js')
        script(src='javascripts/libs/jade.js')
        block content