body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(../images/bg.png);
}

.right {
    float: right;
}

#content {
    padding: 20px;
}

footer {
    position: relative;
    text-align: center;
    color: #31b0d5;
    font-size: 0.8em;
    margin: 10px 20px 20px 20px;
    padding: 10px;
}

footer a,
footer a:hover {
    color: #31b0d5;
    text-decoration: none;
}

footer .love {
    color: #d9534f;
}

footer .alpha {
    color: #333;
    bottom: 20px;
    right: 0px;
    position: absolute;
}

.panel-info {
    border-color: #31b0d5;
}

.panel-info > .panel-heading {
    color: #fff;
    background-color: #31b0d5;
    border-color: #31b0d5;
}

.navbar {
    background: #31b0d5;
    border-bottom: 1px solid #388dad;
    -webkit-box-shadow: 0 2px 2px -2px #000000;
    box-shadow: 0 2px 2px -2px #000000;
    text-align: center;
    padding: 10px 0 0 0;
}

.navbar .brand {
    text-shadow: 0 -1px #388dad;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#gameContainer,
#chatContainer {
    margin-bottom: 20px;
}

#chatContainer .panel-body,
#gameListContainer .panel-body,
#gameListContent {
    height: 450px;
    overflow: auto;
}

#addMessageBtn,
#leaveGameBtn,
#createGameBtn {
    text-transform: uppercase;
}

.panel-title {
    text-transform: capitalize;
}

#gameListContent button,
#gameListContent .label-info {
    float: right;
}

#gameListContent .label-info {
    padding: 5px 5px;
}

.form-control:focus {
    box-shadow: none;
}

.list-group-item:first-child {
    border: 0;
}

#leaveGameBtn {
    position: absolute;
    top: 410px;
    left: 5px;
}

#gameTitleTable {
    width: 450px;
    margin: 0px auto 0px auto;
}

#user1NameLbl,
#user2NameLbl,
#userVsLbl {
    vertical-align: top;
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.8em;
}

#user1NameLbl,
#user2NameLbl {
    width: 210px;
}

.cup {
    height: 64px;
    min-width: 64px;
    background: url('../images/cup_64.png') no-repeat center;
    padding-top: 6px;
    text-align: center;
    vertical-align: top;
}

.cup span {
    color: #fff;
    text-shadow: 2px 1px 0px #ecaf4f, 2px 2px 0px #ccc;
}

.ui-pnotify.custom .alert-warning {
    background: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: .8em;
    font-weight: 300;
}

.user-move-pointer-container {
    display: inline-block;
    height: 14px;
    text-align: center;
}

.move-pointer {
    color: #777;
    display: inline-block;
    height: 11px;
    margin-left: 98px;
    font-size: 0.8em;
}

#noGamesLbl{
    color: #999;
    font-size: 2em;
    text-align: center;
}

#noGamesLbl i{
    font-size: 9em;
    margin-bottom: 40px;
}

#welcome{
    background-size: cover;
    background: url(../images/welcome.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

#userNameContainer {
    margin: auto 25%;
    padding-top: 20%;
    text-align: center;
}

#greetingLbl {
    text-transform: uppercase;
    font-size: 5em;
    color: #fff;
    margin-bottom: 10px;
}

#userNameTxt{
    font-size: 2em;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.95;
}
