.tic-tac-toe {
    height: 450px;
    width: 390px;
    overflow: hidden;
    margin: 0px auto 10px auto;
    position: relative;
}

.tic-tac-toe label.left {
    left: 0px;
}

.tic-tac-toe label.middle {
    left: 130px;
}

.tic-tac-toe label.right {
    left: 260px;
}

.tic-tac-toe label.top {
    top: 0px;
}

.tic-tac-toe label.center {
    top: 130px;
}

.tic-tac-toe label.bottom {
    top: 260px;
}

.tic-tac-toe label {
    height: 120px;
    width: 120px;
    display: block;
}

.tic-tac-toe label:hover {
    background-color: #31b0d5;
}

.tic-tac-toe label:hover:after {
    opacity: .4;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tic-tac-toe.cross-turn label:not(.zero):hover:after,
.tic-tac-toe label.cross:after {
    content: "";
}

.tic-tac-toe.zero-turn label:not(.cross):hover:after,
.tic-tac-toe label.zero:after {
    content: "";
}

.tic-tac-toe label.cross.checked {
    background-color: #dc685a;
}

.tic-tac-toe label.zero.checked {
    background-color: #ecaf4f;
}

.tic-tac-toe label:after {
    left: 0;
    font-family: "FontAwesome";
    opacity: 0;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    top: 50%;
    width: 100%;
    font-size: 90px;
    margin-top: -45px;
}

.tic-tac-toe label.checked,
.tic-tac-toe label.checked:after {
    opacity: 1;
    cursor: default;
}

.tic-tac-toe label {
    background-color: #78bec5;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    margin: 5px;
    position: absolute;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#gameFieldBlockTurnOverlay,
#gameFieldOverlay {
    bottom: 65px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 11;
}

#gameFieldOverlay {
    background: rgba(255, 255, 255, 0.8);
    padding: 85px 20px;
    text-align: center;
}

#gameInfoLbl{
    color:#666;
    line-height: 1.4em;
    font-size: 2.3em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

#playAgainBtn {
    background: #666;
    color: #fff;
    padding: 8px 30px;
    font-size: 1.3em;
    margin-top: 20px;
    text-transform: capitalize;
}

#playAgainBtn:hover {
    background: #333;
}